bin/
obj/
TestResults/
.vscode
.vs
src/EasyLottery/.pnpm-store
src/EasyLottery/node_modules
src/EasyLottery/dist

# Sensitive settings
appsettings.Development.json
appsettings.*.json
!appsettings.json
