@page "/privacy-policy"

<h3>隱私權政策</h3>

<p>本隱私權政策描述了我們如何處理您的信息。</p>

<h4>我們收集哪些信息？</h4>
<p>我們不會收集、存儲或使用您的任何個人信息。我們不會將您的數據用於任何目的，包括但不限於廣告、分析、或分享給第三方。</p>

<h4>我們如何使用您的信息？</h4>
<p>我們的應用僅在您使用它時與您互動。我們不會將您的任何信息存儲在我們的服務器或其他任何地方。所有的數據處理都是在您的設備上在地完成的。</p>

<h4>通過第三方服務的訪問</h4>
<p>我們使用 Google 的 OAuth 2.0 授權來訪問您的 YouTube 會員數據。該數據的處理完全是臨時的，並且僅限於在您主動使用該功能時有效。一旦功能使用完畢，所有的數據會立即被丟棄，不會存儲在任何地方。</p>

<h4>隱私權的變更</h4>
<p>我們保留隨時更新本隱私權政策的權利。任何更改將會發布在此頁面上。</p>

